.upper-nav-bar
{
	background: rgb(255, 255, 255);
	height: 60px;
}

.upper-nav-bar-left
{
	background: rgb(42, 45, 56);
	position: fixed;
	width: 80px;
	height: 60px;
}

.upper-nav-bar-left-logo
{
	width: 42.72px;
	height: 30px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.upper-nav-bar-search
{
	position: absolute;
	float: left;
	border: none !important;
	border-width:0px;
	border-style: hidden;
	box-shadow: none;
	outline: none;
	margin-top: 20px;
	margin-left: 120px;
}

.upper-nav-bar-search-icon
{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 30px;
	left: 100px;
}

.upper-nav-bar-user-bell
{
	position: absolute;
	float: right;
	right: 150px;
	top: 20px;
	transform: translate(-50%, 30%);

}

.upper-nav-bar-user-noti
{
	position: relative;
	float: right;
	top: 10px;
	right: 145px;
}

.upper-nav-bar-user-name
{
	position:absolute;
	float: right;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem;
	top: 30px;
	right: 80px;
}

.upper-nav-bar-user-img
{
	position:absolute;
	top: 20px;
	float: right;
	right: 20px;
	border-radius: 50%;
}

.coalition_bg
{
	background-size: auto;
	background-image:
		url("asset/gam_cover.jpeg");
	height: 400px;
	background-position: center;
	background-size:cover;

}